<header class="l-header" id="l-header">
  <div class="l-header__inner">
    <a class="l-header__logo" href="/"><img src="/asset/image/logo_header.svg" alt=""></a>
    <div class="l-container">
      <nav class="l-header__nav">
          <ul class="l-header__items">
            <li class="l-header__item"><a href="/" class="l-header__link">TOP</a></li>
            <li class="l-header__item"><a href="/room" class="l-header__link">ROOM</a></li>
            <li class="l-header__item"><a href="/areaguide" class="l-header__link">AREAGUIDE</a></li>
            <li class="l-header__item"><a href="/access" class="l-header__link">ACCESS</a></li>
            <li class="l-header__item"><a href="/contact" class="l-header__link">CONTACT</a></li>
          </ul>
        </nav>
        <!-- ハンバーガー -->
        <div id="navbtn">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
</header>